<%- include("template/head", {tituloWeb: '404'}) %>

    <div class="text-center">
        <h2><%= titulo %></h2>
        <h3><%= msj %></h3>
        <a href="./">Regresar</a>
    </div>

<%- include("template/footer") %>