<%- include("template/head", {tituloWeb:'Inicio'}) %>
<%- include("template/navbar") %>
<div class="container">
    <H1>Titulo de mi sitio web Index EJS</H1>
    <h2><%= titulo %></h2>
</div>
<%- include("template/footer") %>