<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=tituloWeb%> | EJS</title>

    <!-- META-TAGS generadas por http://metatags.miarroba.es -->
    <META NAME="DC.Language" SCHEME="RFC1766" CONTENT="Spanish">
    <META NAME="AUTHOR" CONTENT="Guillermo Jimenez">
    <META NAME="REPLY-TO" CONTENT="multiportal@outlook.com">
    <LINK REV="made" href="mailto:multiportal@outlook.com">
    <META NAME="DESCRIPTION" CONTENT="Pagina web para el desarrollo con MongoDB">
    <META NAME="KEYWORDS" CONTENT="crud, momgodb, modemailer">
    <!-- LINK-ICON -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="bloques/WPA/manifest.json"><meta name="phponix" content="Add to Home">
            
            <link  rel = "apple-touch-icon"  tallas = "57x57"  href = "bloques/WPA/icon/apple-icon-57x57.png" > 
            <link  rel = "apple-touch-icon"  tallas = "60x60"  href = "bloques/WPA/icon/apple-icon-60x60.png" > 
            <link  rel = "apple-touch-icon "  tamanos = " 72x72 "  href = "bloques/WPA/icon/apple-icon-72x72.png " > 
            <link  rel = "apple-touch-icon "  tamanos = "76x76"  href = "bloques/WPA/icon/apple-icon-76x76.png" > 
            <link  rel = "apple-touch-icon "  tamanos = " 114x114 "  href = "bloques/WPA/icon/apple-icon-114x114.png "> 
            <link  rel = "apple-touch-icon"  tallas = "120x120"  href = "bloques/WPA/icon/apple-icon-120x120.png" > 
            <link  rel = "apple-touch-icon"  tallas = "144x144"  href = "bloques/WPA/icon/apple-icon-144x144.png" > 
            <link  rel = "apple-touch-icon "  tamanos = " 152x152 "  href = "bloques/WPA/icon/apple-icon-152x152.png" > 
            <link  rel = "apple-touch-icon "  tamanos = "180x180"  href = "bloques/WPA/icon/apple-icon-180x180.png" > 
            <link  rel = "icon"  type = "image/png"  tallas = "16x16"  href = "bloques/WPA/icon/favicon-16x16.png" > 
            <link  rel = "icon"  type = "image/png"  tamanos = "32x32"  href = "bloques/WPA/icon/favicon-32x32.png" > 
            <link  rel = "icon"  type = "image/png"  tallas = "96x96"  href = "bloques/WPA/icon/favicon-96x96.png" > 
            <link  rel = "icon"  type = "image/png"  tamanos = "192x192"  href = "bloques/WPA/icon/android-icon-192x192.png" > 
            <!-- link  rel = "manifest" href="/manifest.json" --> 
            <meta  name ="msapplication-TileColor"  content = "#ffffff" > 
            <meta  name = "msapplication-TileImage"  content = "bloques/WPA/icon/ms-icon-144x144.png" > 
            <meta  name = "theme-color"  content = "#ffffff" >
            <!-- iconos -->
            <link rel="apple-touch-icon" href="bloques/WPA/icon/apple-icon-180x180.png">
            <link rel="shortcut icon" sizes="16x16" href="bloques/WPA/icon/favicon-16x16.png">
            <link rel="shortcut icon" sizes="196x196" href="bloques/WPA/icon/favicon-96x96.png">
            <link rel="apple-touch-icon-precomposed" href="bloques/WPA/icon/apple-icon-152x152.png">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>